### List

1. List is a sequence datatype
2. Elements in list can be of heterogenous type
3. It is similar to that of array, but there is a difference in them
4. It is represented with the help of []

## How to create a list

In [14]:
# 1st Method

list1 = []

In [15]:
print(list1)

[]

In [16]:
# 2nd Method

l = list()

In [17]:
print(l)

[]

In [18]:
list1=[1,2,3,4,5,6,7,8]

In [19]:
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8]

In [1]:
list1 = ['python','DSEU',1,2,3,4.5,6.75, True]

In [2]:
print(list1)

['python', 'DSEU', 1, 2, 3, 4.5, 6.75, True]

### How to access an element in the list

In [3]:
list1[1]

'DSEU'

In [23]:
list1[-1]

True

In [24]:
len(list1)

8

In [4]:
list1[3]

2

In [6]:
list2=[1,2,3,4,5,6,7,8,9,10,11,'String','Python','Program','DSEU','Virat',
       'Dhoni',4.65,8.9,True,False,100]

In [8]:
print(list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 'String', 'Python', 'Program', 'DSEU', 'Virat', 'Dhoni', 4.65, 8.9, True, False, 100]

### SLice the cricketers name from the list

## Syntax

variable_name = [start_value : end_value]

In [11]:
list2[15:17]

['Virat', 'Dhoni']

In [14]:
print(list2[::-1])

[100, False, True, 8.9, 4.65, 'Dhoni', 'Virat', 'DSEU', 'Program', 'Python', 'String', 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### Operators

##### 1. Arithmetic Operators -: +, - , * , / , //, %

In [16]:
# 1. Addition

a = int(input('Enter the Number 1 : '))
b = int(input('Enter the Number 2 : '))
c=a+b
print(f'The sum of {a} & {b} is {c}')

Enter the Number 1 : 2
Enter the Number 2 : 1
The sum of 2 & 1 is 3

In [19]:
# 2. Subtraction

a = int(input('Enter the Number 1 : '))
b = int(input('Enter the Number 2 : '))
c=a-b
print(f'The difference between {a} & {b} is {c}')

Enter the Number 1 : 5
Enter the Number 2 : 1
The difference between 5 & 1 is 4

In [20]:
# 3. Multiplication

a = int(input('Enter the Number 1 : '))
b = int(input('Enter the Number 2 : '))
c=a*b
print(f'The product of {a} & {b} is {c}')

Enter the Number 1 : 8
Enter the Number 2 : 5
The product of 8 & 5 is 40

In [22]:
# 4. Division (/ - Integer Division)

a = int(input('Enter the Number 1 : '))
b = int(input('Enter the Number 2 : '))
c=a/b
print(f'The division of {a} & {b} is {c}')

Enter the Number 1 : 10
Enter the Number 2 : 2
The division of 10 & 2 is 5.0

In [25]:
# 5. Division (// - Floor Division)

a = int(input('Enter the Number 1 : '))
b = int(input('Enter the Number 2 : '))
c=a//b
print(f'The division of {a} & {b} is {c}')

Enter the Number 1 : 10
Enter the Number 2 : 4
The division of 10 & 4 is 2

In [27]:
# 6. Modulo (%)

a = int(input('Enter the Number 1 : '))
b = int(input('Enter the Number 2 : '))
c=a%b
print(f'The remainder of {a} & {b} is {c}')

Enter the Number 1 : 9
Enter the Number 2 : 2
The remainder of 9 & 2 is 1

#### There are two Arithmetic Operators that we apply on any Sequence 

1. Addition('+') - Concatenation
2. Multiplication('*') - Repeation

In [28]:
## Example of Concatenation

list1 = [1,2,3,4,5]
list2 = [11,22,33,44,55]

list3 = list1+list2

print(list3)

[1, 2, 3, 4, 5, 11, 22, 33, 44, 55]

In [31]:
## Example of Concatenation on String

a = 'Vishal'
b = ' Mittal'

c = a+b

print(c)

Vishal Mittal

In [33]:
## Repeation

list4 = [1,2,3]

list5 = list4*15

print(list5)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [35]:
a = ' Vishal'

b =  a*2

print(b)

 Vishal Vishal

In [36]:
len(b)

14

### Update the value in the list

In [37]:
str1 = 'Python'

In [38]:
str1[0]='p'

TypeError: 'str' object does not support item assignment

In [39]:
list6=[1,2,3,4,5,6,7,8,9,10,11,'String','Python','Program','DSEU','Virat',
       'Dhoni',4.65,8.9,True,False,100]

In [40]:
list6[-5]='Sachin'

In [41]:
print(list6)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 'String', 'Python', 'Program', 'DSEU', 'Virat', 'Dhoni', 'Sachin', 8.9, True, False, 100]

- List is a mutable sequence datatype

In [44]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [45]:
list?

## Tuple

1. Tuple is sequence datatype
2. It is immutable datatype
3. It is represented with ()

In [46]:
## 1st Method

tup1 = ()

In [47]:
print(tup1)

()

In [48]:
type(tup1)

tuple

In [49]:
## 2nd Method

tup2 = tuple()

In [50]:
print(tup2)

()

In [51]:
type(tup2)

tuple

In [52]:
tup3 = (1,2,3,4,'apple','mango','Dhoni','Virat',4.5)

In [53]:
print(tup3)

(1, 2, 3, 4, 'apple', 'mango', 'Dhoni', 'Virat', 4.5)

In [54]:
tup3[6]

'Dhoni'

In [55]:
tup3[2:6]

(3, 4, 'apple', 'mango')

### How to change the value in the Tuple

In [56]:
tup3[5]='Banana'

TypeError: 'tuple' object does not support item assignment

In [57]:
len(tup3)

9

- There are 4 in-built method that we can apply on any sequene

1. len()
2. max()
3. min()
4. sum()

In [59]:
tup1 = (1,2,3,4,5,6)
max(tup1)

6

In [60]:
tup2=(7,3,5,7,3,2,5,7,8,3,11)
max(tup2)

11

In [61]:
min(tup2)

2

In [62]:
sum(tup2)

61

In [64]:
list1 = [1,2,4,6,7,8,3,5,6,8,9,10]
print('Lenght of List 1 is : ',len(list1))
print('Max of List 1 is : ',max(list1))
print('Min of List 1 is : ',min(list1))
print('Sum of List 1 is : ',sum(list1))

Lenght of List 1 is :  12
Max of List 1 is :  10
Min of List 1 is :  1
Sum of List 1 is :  69

In [65]:
# Concatenation in Tuple

tup1 = (1,2,3)
tup2 = (4,5,6)

tup3 = tup1 + tup2
print(tup3)

(1, 2, 3, 4, 5, 6)

In [ ]:
# Repeatation in Tuple

tup4 = (1,2,3)
tup4